* {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    }
    
    .menu-container {
      display: flex;
      position: fixed;
      top: 0;
      width: 100%;
      overflow: auto;
      height: auto;
    }
    
    .left-menu {
      flex: 1 1 200px;
      font-style: Arial; sans-serif;
    }
    
    .links {
      display: inline-block;
      text-align: center;
      font-family: Arial, sans-serif;
      color: #000;
      text-decoration: none;
      margin: 10px;
    }
    
    .apps-icon {
      display: flex;
    }
    
    .sign-in-button {
      display: flex;
      padding: 0 5px 0 10px;
      font-family: Arial, sans-serif;
      background-color: blue;
      color: #fff;
    }
    
    .google {
      text-align: center;
      padding: 30px;
      font-size: 72px;
      font-style: bold;
      font-family: Futura, sans-serif;
    }
    
    .search-bar {
      text-align: center;
      top: 355px;
      left: 575px;
    }
    
    .search-bar input {
      height: 30px;
      width: 700px;
      border-radius: 25px;
    }
    
    #search {
      padding: 5px;
    }
    
    ::placeholder {
      font-size: 15px;
    }
    
    #submit {
      width: 125px;
      height: 35px;
      border: none;
    }
    
    .bottom-nav {
      background-color: #e8e8e8;
      display: flex;
      position: fixed;
      bottom: 0;
      width: 100%;
      overflow: auto;
      height: 30px;
    }
    .info {
        display: inline-block;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 13px;
        color: #000;
        text-decoration: none;
        margin: 10px;
      }
    
    .bottom-left-menu {
      flex: 1 1 200px 1;
      margin: left;
    }
    
    .center-menu {
      padding: 0 450px;
    }
    
    .right-menu {
      margin: auto;
      
    }
    
    